*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #00008bcb;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .loader{
 display: flex;
 justify-content: space-evenly;
 padding:0 20px;
 
}
.loader .loading{
height :30px;
width: 30px;
border-radius: 50%;
background: wheat;
margin:0 20px;
animation: Load 0.8s ease infinite ;
}

.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation-delay: 0.5s;
}

/* loading Animation */
@keyframes Load {
    0%{
        height :30px;
        width: 30px;
    }
    50%{
        height :20px;
        width: 20px;
    }
 
}
